.env
.git
dist
node_modules
.vscode
.DS_Store
.idea
.npmrc
.yarnrc
.yarn
.pnpm-store
.eslintcache
.prettiercache
.swc
test
README.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile
docker-compose*
